<!-- navigation - block element -->
<header>
    <h1>
        <a href="/"> JAVA RATINGS </a>
    </h1>
    <br>
    <h2>
        Cultivating a Community of Coffee Connoisseurs
    </h2>
    {{!-- NOTICE:
    I modified these buttons to be anchors.
    I don't know how to make buttons do what anchors do. . .  yet.
    feel free to investigate further!
    Best I could find is you can make them look like buttons with styling--}}
    <nav>
        <a href="/login">login</a>
        <br>
        <a href="/signup">signup</a>
    </nav>
</header>
<!-- end navigation -->