{{!-- NOTICE:
There's alot of work that were going to be doing on this section. 
figured I'd give it its own file :) --}}

    <section>
        <div class="col-10 col-12 col-md-6 col-xl-3 mb-3">
            <div class="post-card">
                <h3 class="post-header">
                    Post Title
                </h3>
                <img src="img/post.jpg" alt="user submitted photo">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam, facilis adipisci sed hic
                    totam
                    obcaecati
                    reiciendis illum alias soluta, consequuntur fugiat aspernatur nemo vel quo eum mollitia odio
                    explicabo.
                    Repellendus?
                </p>
                <p>
                    Posted by Username
                </p>
                <button class="post-btn">Thumbs Up</button>
                <button class="post-btn">Thumbs Down</button>
                <button class="post-btn">Comments</button>
            </div>
        </div>
    </section>

