{{!-- Create a Post form --}}
<div class="container">
  <form class="post-form" id="form">
    <h1>New Post</h1>
    <p> Post Title: <input type="text" name="post-title" id="title"></p>
    <p> Coffee Review: <input type="text" name="description" id="review" class="textbox"></p>

    <p>{{msg}}</p>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      Upload Your Photo: <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          <input name="image" type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
      <br>
      <button type="submit" class="post-form-btn"> ☕ Submit </button>
    </form>
    <a href="/" class="home-link"> JAVA RATINGS ☕ </a>
</div>
<script src="/public/js/post.js" type="javascript"></script>


{{!-- jquery --}}
{{!--
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
{{!-- materialize --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> --}}