<form class="login-form" id="form">
  <h1> Login </h1>
  <label for="email-login"> Email: </label>
  <input type="text" id="email-login" />
  <br>
  <label for="password-login"> Password: </label>
  <input type="password" id="password-login" />
  <br>
  <button type="submit" class="form-btn"> Login </button>
</form>
<a href="/" class="home-link"> JAVA RATINGS ☕ </a>
<script src="/js/login.js"></script>