{{! NOTICE:
This is the signup form from Module 14.2.4 if you haven't checked out the login.handlebars
file I highly suggest doing that before making any changes here}}

<div class="container-fluid">
  <form class="signup-form">
    <div class="col-2 center p-3">
      <label for="username-signup"> Username: </label>
      <input type="text" id="username-signup" />
    </div>
    <div class="col-2 center p-3">
      <label for="email-signup"> Email: </label>
      <input type="text" id="email-signup" />
    </div>
    <div class="col-2 center p-3">
      <label for="password-signup"> Password: </label>
      <input type="password" id="password-signup" />
    </div>
    <div class="col-2 center p-3">
      <button type="submit" class="signup-btn"> Sign Up </button>
    </div>
  </form>
  <div class="col-2 center p-3">
  <a href="/">JAVA RATINGS</a>
  </div>
</div>
<script src="/public/js/signup.js" type="javascript"></script>
