<form class="form">
  <h1> Sign Up </h1>
  <label for="username-signup"> Username: </label>
  <input type="text" id="username-signup" />
  <br>
  <label for="email-signup"> Email: </label>
  <input type="text" id="email-signup" />
  <br>
  <label for="password-signup"> Password: </label>
  <input type="password" id="password-signup" />
  <br>
  <button type="submit" class="form-btn"> Sign Up </button>
</form>
<a href="/" class="home-link"> JAVA RATINGS ☕ </a>
<script src="/public/js/signup.js" type="javascript"></script>
