:root {
  --primary-color: #f9ce00;
  --secondary-color: #4b4142;
  --tertiary-color: #605456;
  --light-accent: #e5ddd2;
  --brown-accent: #c4a876;
}

* {
  margin: 0;
  padding: 0;
}

/* little tweak to bootstrap default settings also be cool to use rem instead of px for mobility sake*/
.row {
  --bs-gutter-x: 0rem;
}

body {
  color: var(--light-accent);
  font-family: "Staatliches", sans-serif;
  background-image: url("../img/coffee-beans.jpg");
  background-position: right;
  background-repeat: no-repeat;
}

/* HEADER / NAV BAR STYLES START */

header {
  padding: 40px;
  background-color: #f9ce00;
  display: flex;
  background-image: url("../img/hero.jpg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right;
}

header h1 a {
  font-weight: bold;
  margin: 20px;
  font-size: 36px;
  color: var(--secondary-color);
  text-shadow: 2px 2px var(--brown-accent);
  text-decoration: none;
  justify-content: left;
}

.tagline {
  color: var(--secondary-color);
  text-shadow: 2px 2px var(--light-accent);
  line-height: 80%;
  font-size: 24px;
  display: flex;
  justify-content: left;
}

.nav-btn {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px 20px 5px;
  box-shadow: 2px 2px white;
  color: white;
  padding: 11px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 1px;
  float: right;
}

.nav-btn:hover {
  background-color: white;
  color: var(--secondary-color);
  box-shadow: 2px 2px var(--secondary-color);
}

a:hover {
  text-decoration: none;
  color: white;
}

/* HEADER / NAVBAR STYLES END */

/* ABOUT SECTION */
.about {
  color: var(--tertiary-color);
  padding: 30px 0px 20px 70px;
}

h4 {
  text-shadow: 2px 2px var(--light-accent);
}
/* ABOUT SECTION STYLES END */

/* POST STYLE START */
#post-card {
  padding: 20px;
}

.card {
  background: white;
  box-shadow: 5px 5px var(--brown-accent);
  color: black;
}

.card-img-top {
  padding: 10px 5px;
}

.card-title {
  color: var(--secondary-color);
  text-shadow: 2px 2px var(--light-accent);
  background: var(--primary-color);
  text-align: center;
  box-shadow: 2px 2px var(--brown-accent);
}

.post-btn {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px 20px 5px;
  box-shadow: 2px 2px white;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}

.post-btn:hover {
  background-color: white;
  color: var(--secondary-color);
  box-shadow: 2px 2px var(--secondary-color);
}
/* POST STYLE END */

/* FORMS */
.signup-form,
.login-form,
.post-form {
  color: var(--secondary-color);
  width: 50%;
  background-color: var(--primary-color);
  margin: 30px;
  padding: 20px;
  border-radius: 5px 20px 5px;
  box-shadow: 2px 2px var(--secondary-color);
  font-weight: bold;
}

#form h1 {
  color: var(--secondary-color);
  text-shadow: 2px 2px var(--light-accent);
}

.form-btn {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px 20px 5px;
  box-shadow: 2px 2px white;
  color: white;
  padding: 11px;
  text-align: center;
  text-decoration: none;
}

.form-btn:hover {
  background-color: white;
  color: var(--secondary-color);
  box-shadow: 2px 2px var(--secondary-color);
}

input[type="text"] {
  width: 60%;
  padding: 10px;
  margin: 8px;
  box-sizing: border-box;
  box-shadow: 2px 2px var(--secondary-color);
}

input[type="password"] {
  width: 60%;
  padding: 10px;
  margin: 8px;
  box-sizing: border-box;
  box-shadow: 2px 2px var(--secondary-color);
}

input.textbox {
  width: 85%;
  padding: 30px;
}

.home-link {
  text-decoration: none;
  color: var(--secondary-color);
  text-shadow: 2px 2px var(--brown-accent);
  font-weight: bold;
  padding-left: 30px;
}

/* FORMS STYLE END */

/* FOOTER STYLES START */
footer {
  background: var(--primary-color);
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

footer h2 {
  color: var(--secondary-color);
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

footer a {
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
/* END FOOTER STYLES */
